{% extends "layout.html" -%} {% block body -%}
<div class="ui middle aligned center aligned grid">
	<div class="column">
		<h2 class="ui teal image header">
			<div class="content">
				Please select the name of your community
			</div>
		</h2>
		<form method="POST">
			<div class="ui selection search dropdown" id="community-select">
				<input name="community" type="hidden">
				<i class="dropdown icon"></i>
				<div class="default text">Select your community</div>
				<div class="menu">
					{% for community in communities -%}
					<div class="item" data-value="{{ community }}">{{ community }}</div>
					{% endfor %}
				</div>
			</div>
			<button type="submit" name="submit" class="ui right labeled icon button">
					<i class="right arrow icon"></i>
					Submit
			</button>
		</form>
	</div>
</div>
<style type="text/css">
	body {
		background-color: #DADADA;
	}

	body>.grid {
		height: 100%;
	}

	.image {
		margin-top: -100px;
	}

	.column {
		max-width: 450px;
	}
</style>
<script>
	$('#community-select').dropdown();
</script>
{% endblock %}