{% extends "dashboard.html" -%}
{% set active_page = "overview" %}
{% block row -%}
<div class="row">
	<h1 class="ui huge header">
		Dashboard
	</h1>
</div>
<div class="ui divider"></div>
<div class="four column center aligned row">
	<div class="column">
		<div class="ui hidden divider"></div>
		<div class="ui large green label">
			Your Address
		</div>
		<p>
			515 Congress Avenue
			Austin, TX 78701
		</p>
	</div>
	<div class="column">
		<div class="ui hidden divider"></div>
		<div class="ui large blue label">
			Property Value
		</div>
		<p>
			$500,000
		</p>
	</div>
</div>
{% endblock %}