{% extends "layout.html" -%}
{% block body -%}
<div class="ui middle aligned center aligned grid">
	<div class="column">
		<h2 class="ui teal image header">
			<!-- img class="image" src="{{ url_for('static', filename='logo.png') }}" / -->
			<div class="content">
				Start a new WHOA community
			</div>
		</h2>
		<form method="POST" class="ui large form">
			<div class="ui stacked segment">
				{% with errors = get_flashed_messages() -%}
				{% if errors %}						
				<ul>
					{% for error in errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul> 
				{%- endif %}
				{%- endwith -%}
				<div class="field">
					<div class="ui left icon input">
						<i class="pencil icon"></i>
						<input id="community_name" name="community_name" placeholder="Community Name" type="text" required />
					</div>
				</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input id="email" name="email" placeholder="E-mail address" type="text" required />
                    </div>
                </div>
                <div class="field">
					<div class="ui left icon input">
						<i class="check icon"></i>
						<input name="email_confirm" placeholder="Verify E-mail address" type="text" data-rule-email="true" data-rule-equalTo="#email" required />
                    </div>
                </div>
				<div class="field">
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input id="password" name="password" placeholder="Password" type="password" required />
					</div>
                </div>
                <div class="field">
					<div class="ui left icon input">
						<i class="check icon"></i>
						<input name="password_confirm" placeholder="Verify Password" type="password" data-rule-password="true" data-rule-equalTo="#password" required />
					</div>
                </div>
                <div class="field">
					<div class="ui left icon input">
						<i class="compass icon"></i>
						<input name="referral" placeholder="Community Referral Code" type="text" required />
					</div>
				</div>
				<input type="submit" value="Register" name="submit" id="submit" class="ui fluid large teal button"></input>
			</div>
			<div class="ui message">
				Note: You will become the administrator for this new community.
			</div>
		</form>
	</div>
</div>
<style type="text/css">
	body {
		background-color: #DADADA;
	}

	body>.grid {
		height: 100%;
	}

	.image {
		margin-top: -100px;
	}

	.column {
		max-width: 450px;
	}
</style>
{% endblock %}