{% extends "layout.html" -%}
{% block body -%}
<ul class="tab-group">
	<li class="tab active">
		<a href="#user-registration">New User Registration</a>
	</li>
	<li class="tab">
		<a href="#community-registration">Community Registration</a>
	</li>
</ul>
<div class="ui middle aligned center aligned grid">
	<div class="form">
		<div class="tab-content">
			<div id="user-registration">
				<h2 class="ui teal header">
					<!-- img class="image" src="{{ url_for('static', filename='logo.png') }}" / -->
					<div align="center" class="content">
						Register to join your local WHOA community
					</div>
				</h2>

				<form method="POST" class="ui large form">
					<div class="ui stacked segment">
						<div class="field">
							<div class="ui left icon input">
								<i class="pencil icon"></i>
								<input id="first_name" name="first_name" placeholder="First Name" type="text" required />
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="pencil icon"></i>
								<input id="last_name" name="last_name" placeholder="Last Name" type="text" required />
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="user icon"></i>
								<input id="user_email" name="email" placeholder="E-mail address" type="text" required />
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="check icon"></i>
								<input name="user_email_confirm" placeholder="Verify E-mail address" type="text" data-rule-email="true" data-rule-equalTo="#email"
								    required />
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="lock icon"></i>
								<input id="user_password" name="password" placeholder="Password" type="password" required />
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="check icon"></i>
								<input name="user_password_confirm" placeholder="Verify Password" type="password" data-rule-password="true" data-rule-equalTo="#password"
								    required />
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="home icon"></i>
								<input name="address" placeholder="Address" type="text" required />
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="phone icon"></i>
								<input name="phone_number" placeholder="Phone Number" type="text" required />
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="compass icon"></i>
								<input name="invite_code" placeholder="Invite Code" type="text" required />
							</div>
						</div>
						<input type="submitter" value="Register" name="submitter" id="submitter" class="ui fluid large teal button"></input>
					</div>
					<div class="ui error message"></div>
				</form>
			</div>

			<div id="community-registration">
				<h2 class="ui teal header">
					<!-- img class="image" src="{{ url_for('static', filename='logo.png') }}" / -->
					<div align="center" class="content">
						Start a new WHOA community
					</div>
				</h2>

				<form method="POST" class="ui large form">
					<div class="ui stacked segment">
						{% with errors = get_flashed_messages() -%} 
						{% if errors %}
						<ul>
							{% for error in errors %}
							<li>{{ error }}</li>
							{% endfor %}
						</ul>
						{%- endif %} 
						{%- endwith -%}
						<div class="field">
							<div class="ui left icon input">
								<i class="pencil icon"></i>
								<input id="community_name" name="community_name" placeholder="Community Name" type="text" required />
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="user icon"></i>
								<input id="community_email" name="email" placeholder="E-mail address" type="text" required />
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="check icon"></i>
								<input name="community_email_confirm" placeholder="Verify E-mail address" type="text" data-rule-email="true" data-rule-equalTo="#email"
								    required />
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="lock icon"></i>
								<input id="community_password" name="password" placeholder="Password" type="password" required />
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="check icon"></i>
								<input name="community_password_confirm" placeholder="Verify Password" type="password" data-rule-password="true" data-rule-equalTo="#password"
								    required />
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="compass icon"></i>
								<input name="referral" placeholder="Community Referral Code" type="text" required />
							</div>
						</div>
						<input type="submit" value="Register" name="submit" id="submit" class="ui fluid large teal button"></input>
					</div>
					<div class="ui message">
						Note: You will become the administrator for this new community.
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body {
		background-color: #DADADA;
	}

	body>.grid {
		height: 10%;
	}

	.image {
		margin-top: -100px;
	}

	.column {
		max-width: 300px;
	}

	.tab-group {
		list-style: none;
		padding: 0;
		margin: 0 0 40px 0;
	}

	.tab-group:after {
		content: "";
		display: table;
		clear: both;
	}

	.tab-group li a {
		display: block;
		text-decoration: none;
		padding: 15px;
		background: rgba(160, 179, 176, 0.25);
		color: #a0b3b0;
		font-size: 20px;
		float: left;
		width: 50%;
		text-align: center;
		cursor: pointer;
		transition: .5s ease;
	}

	.tab-group li a:hover {
		background: #009c95;
		color: #ffffff;
	}

	.tab-group .active a {
		background: #009c95;
		color: #ffffff;
	}
</style>
<script src=" {{ url_for('static', filename='js/register.js') }}" <script>
	$(document).ready(function () {
		var submit_button = $("#submitter").click(function () {
			if (document.forms[0].checkValidity()) {
				document.forms[0].submit();
			}
		})
	});
</script>
{% endblock %}